* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.box {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 4rem;
}
.card-box {
  width: 520px;
  height: 480px;
}
.size {
  width: 1200px;
}
.margin {
  margin: 5rem;      
}
.purple { 
  background-color: hsl(261, 52%, 72%);
}
header {
  height: 900px;
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('img/main.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-flow:column;
  text-align:center;
  color: #fff;
}
.main-font {
  font-size: 70px;
  font-weight: 500;
}
.icon {
  font-size: 120px;
  color:hsl(261, 52%, 72%);
}
.icon-font-color {
  color:hsl(261, 52%, 72%);
  margin: 20px;
}
